@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");

@import "tailwindcss";
@import "tailwindcss/utilities";

:root {
  --color-popup: #1e2a4a;
  --color-popup-border: #697FBD;
  --color-extra-dark: #697FBD;
  --color-dark: #899BCD;
  --color-medium: #9dacd5;
  --color-light: #BDC7E2;
  --color-extra-light: #E8EAF6;
}

@keyframes weather-in {
  from {
    opacity: 0;
    transform: scale(0);
    transform-origin: top left;
  }
  to {
    opacity: 1;
    transform: scale(1);
    transform-origin: top left;
  }
}

.animate-weather-in {
  animation: weather-in 150ms ease-out;
}
